body {
  background-color: #ffd700; }
  body #title img {
    width: 500px;
    height: 150px;
    position: relative;
    left: 50%;
    margin-left: -250px; }
  body #main #main-canvas {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -250px; }
  body #main a#link-to-toybox {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    margin-left: 100px; }
  body .red {
    background-color: red; }
  body .green {
    background-color: green; }
  body .blue {
    background-color: blue; }

/* smart */
body {
  background-color: red; }

/* tablet */
@media all and (min-width: 480px) {
  body {
    background-color: green; } }
/* pc */
@media all and (min-width: 768px) {
  body {
    background-color: blue; } }
