/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.progress-bar {
  background-color: #e3e3e3;
  height: 25px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #fff; }

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width .4s ease-in-out; }

.stripes span {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite; }

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 60px 0; } }

@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 60px 0; } }

.blue span {
  background-color: #34c2e3; }

.yellow span {
  background-color: #edad0b; }

.green span {
  background-color: #3DB680; }

.red span {
  background-color: #DA5019; }

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  color: #444; }

a {
  text-decoration: none; }

li {
  list-style: none; }

section {
  margin-bottom: 40px; }

.constraint {
  margin: 0 auto; }

.title {
  font-size: 20px;
  border-bottom: solid 3px black;
  width: 270px;
  margin-bottom: 20px; }
  .title h2 {
    padding: 8px; }

#header {
  background-color: #e3e3e3;
  overflow: hidden; }
  #header .name {
    font-size: 28px;
    padding: 20px 10px; }

#header-nav {
  position: absolute;
  right: 0; }

#about .title {
  border-bottom-color: #c7243a; }
#about .property > div {
  padding: 4px;
  margin-bottom: 4px; }

#skill .title {
  border-bottom-color: #0086ab; }
#skill .subtitle {
  border-bottom: solid 2px black;
  width: 270px;
  margin-bottom: 20px; }
  #skill .subtitle h3 {
    padding: 8px; }
#skill ul {
  margin-bottom: 20px;
  zoom: 1; }
  #skill ul li {
    padding: 8px;
    width: 254px;
    float: left; }
    #skill ul li .skill-name {
      margin-bottom: 5px; }
    #skill ul li .progress-bar {
      width: 95%; }
  #skill ul:before, #skill ul:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020"; }
  #skill ul:after {
    clear: both; }

#works .title {
  border-bottom-color: #edad0b; }

#contact .title {
  border-bottom-color: #5ec84e; }

/* smart */
@media all and (max-width: 479px) {
  .constraint {
    width: 270px; }

  #skill ul {
    zoom: 1; }
    #skill ul li .progress-bar {
      width: 100%; }
    #skill ul:before, #skill ul:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #skill ul:after {
      clear: both; } }
/* tablet */
@media all and (min-width: 480px) {
  .constraint {
    width: 540px; } }
/* pc */
@media all and (min-width: 768px) {
  .constraint {
    width: 810px; } }
