@charset 'utf-8';

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: "\0020";
  }
  &:after {
    clear: both;
  }
}

/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

// ======
// params
// ======

$white: #FFFFFF;
$gray: #E3E3E3;
$red: #C7243A;
$yellow: #EDAD0B;
$blue: #0086AB;
$green: #5EC84E;

$padding: 8px;
$elem-width: 270px;

// ============
// progress bar
// ============

.progress-bar {
    background-color: $gray;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #ccc inset, 0 1px 0 #fff;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

.stripes span {
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
    to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.blue span {
    background-color: #34c2e3;
}

.yellow span {
      background-color: $yellow;
}

.green span {
      background-color: #3DB680;
}

.red span {
  background-color: #DA5019;
}

// ========
// contents
// ========

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  color: #444;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  margin-bottom: 40px;
}

.constraint {
  margin: 0 auto;
}

.title {
  font-size: 20px;
  border-bottom: solid 3px black;
  width: $elem-width;
  margin-bottom: 20px;
  h2 {
    padding: $padding;
  }
}

.subtitle{
  border-bottom: solid 2px black;
  width: $elem-width;
  margin-bottom: 20px;
  h3 {
    padding: $padding;
  }
}

// ============
//   Base
// ============

#header {
  background-color: $gray;
  overflow: hidden;
  .name {
    font-size:28px;
    padding: 20px 10px;
  }
}


#header-nav {
  position: absolute;
  right: 0;
}

#about {
  font-size: 15px;
  .title {
    border-bottom-color: $red;
  }
  .contents>div {
    float: left;
    width: $elem-width;
    margin-bottom: 20px;
    &>p{
      padding: $padding;
      margin-bottom: 4px;
    }
  }
  @include clearfix;
}

#skill {
  .title {
    border-bottom-color: $blue;
  }
  ul{
    margin-bottom: 20px;
    li {
      padding: $padding;
      width: $elem-width - $padding * 2;
      float: left;
      .skill-name {
        margin-bottom: 5px;
      }
      .progress-bar {
        width: 95%;
      }
    }
    @include clearfix;
  }
}

#works {
  .title {
    border-bottom-color: $yellow;
  }
}

#contact {
  .title {
    border-bottom-color: $green;
  }
}

/* smart */

@media all and (max-width: 479px) {
  .constraint {
    width: $elem-width;
  }
  #about, #skill, #works {
    border-bottom: 1px dashed #ddd;
  }
  #skill {
    ul{
      li {
        .progress-bar {
          width: 100%;
        }
      }
      @include clearfix;
    }
  }
}

/* tablet */

@media all and (min-width: 480px) and (max-width: 767px) {
  .constraint {
    width: 540px;
  }
  #about {
    .property {
      margin-top: 53px - 35px;
    }
  }
}

/* pc */

@media all and (min-width: 768px) {

  .constraint {
    width: 810px;
  }

  #about {
    .subtitle {
      width: 90%;
    }
  }
}

