@mixin block-h-align-center($width) {
    position: relative;
    left: 50%;
    margin-left: -$width/2;
}

body {
  background-color: #ffd700;
  #title{
    img {
      $width: 500px;
      $height: 150px;
      width: $width;
      height: $height;
      @include block-h-align-center($width);
    }
    // background-color: green;
  }
  #main {
    #main-canvas {
      $width: 500px;
      $height: 500px;
      width: $width;
      height: $height;
      @include block-h-align-center($width);
    }
    a#link-to-toybox{
      display: block;
      $width: 150px;
      $height: 150px;
      width: $width;
      height: $height;
      position: relative;
      left: 50%;
      margin-left: 100px;
    }
    // background-color: red;
  }
  // for debug
  .red {
    background-color: red;
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
}

/* smart */

@media all {
  body {
    background-color: red;
  }
}

/* tablet */

@media all and (min-width: 480px) {
  body {
    background-color: green;
  }
}

/* pc */

@media all and (min-width: 768px) {
  body {
    background-color: blue;
  }
}

