!!!
%head
  %meta{:charset => "UTF-8"}/
  %title smurakami
  %meta{:content => "smurakami", :name => "keywords"}/
  / %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %meta{:content => "telephone=no", :name => "format-detection"}/
  %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/jquery-2.1.0.min.js"}
  %script{:src => "js/init.js"}
%body
  %section#header
    .constraint
      .name Shintaro Murakami
  %section#about
    .constraint
      .title about
      .property
        .name 村上晋太郎 / Shintaro Murakami
        %div 東京大学工学部電子情報工学科卒
        %div 東京大学大学院情報理工学系研究科
        %div 佐藤洋一研究室所属 修士一年
  %section#skill
    .constraint
      .title skill
      .progress-bar.stripes.animate-stripes.blue
        %span{style: "width: 50%;"}
  %section#works
    .constraint
      .title works
  %section#contact
    .constraint
      .title contact

  / %div#title
  /   %img{src: 'img/title.png'}
  / %div#main
  /   %canvas#main-canvas{width: 500, height: 500}
