!!!
%head
  %meta{:charset => "UTF-8"}/
  %title smurakami
  %meta{:content => "smurakami", :name => "keywords"}/
  %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
  / %meta{:content => "telephone=no", :name => "format-detection"}/
  %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
  / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
  / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
  /[if IE] <script type="text/javascript" src="excanvas.js"></script>
  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "js/jquery-2.1.0.min.js"}
  %script{:src => "js/init.js"}
%body
  %section#header
    .constraint
      .name Shintaro Murakami
  %section#about
    .constraint
      .title
        %h2 About
      .contents
        .property
          %p 村上晋太郎 / Shintaro Murakami
          %p 東京大学工学部電子情報工学科卒
          %p 東京大学大学院情報理工学系研究科
          %p 佐藤洋一研究室所属 修士一年
          %p 株式会社コノル インターン

        .study
          .subtitle
            %h3 Study
          %p 電子情報工学 (2012 - )
          %p 自然言語処理 (2013 - 2014)
          %p 画像処理 (2014 - )

        .specialty
          .subtitle
            %h3 Specialty
          %p iOS Programming
          %p Web Programming (client side)
          %p Drawing

  %section#skill
    .constraint
      .title
        %h2 Skill
      .subtitle
        %h3 Programming
      %ul#skill-programming
        %li
          .skill-name Python
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 90%;"}
        %li
          .skill-name JavaScript
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 90%;"}
        %li
          .skill-name Objective-C
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 90%;"}
        %li
          .skill-name C
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 70%;"}
        %li
          .skill-name C++
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 70%;"}
        %li
          .skill-name Ruby
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 60%;"}
        %li
          .skill-name HTML
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 60%;"}
        %li
          .skill-name CSS
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 50%;"}
        %li
          .skill-name PHP
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 40%;"}
        %li
          .skill-name Haskell
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 30%;"}
        %li
          .skill-name C-LISP
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 20%;"}
        %li
          .skill-name SHELL-GEI
          .progress-bar.stripes.animate-stripes.blue
            %span{style: "width: 95%;"}
      .subtitle
        %h3 Research
      %ul#skill-research
        %li
          .skill-name Natural Language Processing
          .progress-bar.stripes.animate-stripes.yellow
            %span{style: "width: 60%;"}
        %li
          .skill-name Computer Vision
          .progress-bar.stripes.animate-stripes.yellow
            %span{style: "width: 40%;"}
        %li
          .skill-name Machine Learning
          .progress-bar.stripes.animate-stripes.yellow
            %span{style: "width: 30%;"}
      .subtitle
        %h3 Design
      %ul#skill-design
        %li
          .skill-name Drawing
          .progress-bar.stripes.animate-stripes.green
            %span{style: "width: 70%;"}
        %li
          .skill-name Photoshop
          .progress-bar.stripes.animate-stripes.green
            %span{style: "width: 60%;"}
        %li
          .skill-name Illustrator
          .progress-bar.stripes.animate-stripes.green
            %span{style: "width: 40%;"}
      .subtitle
        %h3 Hobby
      %ul#skill-hobby
        %li
          .skill-name Trumpet
          .progress-bar.stripes.animate-stripes.red
            %span{style: "width: 75%;"}
        %li
          .skill-name Jazz
          .progress-bar.stripes.animate-stripes.red
            %span{style: "width: 50%;"}
        %li
          .skill-name Funk
          .progress-bar.stripes.animate-stripes.red
            %span{style: "width: 40%;"}

/  %section#works
/    .constraint
/      .title
/        %h2 Works
/      .subtitle
/        %h3 2014
/      .contents
/      .contents
/      .contents
/      .subtitle
/        %h3 2013
/      .contents
/      .contents
/      .contents
/      .contents
/      .contents

/ %section#contact
/   .constraint
/     .title
/       %h2 Contact
